<!DOCTYPE html>
%html
  %head
    %title Mailkeeper
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = csrf_meta_tags

  %body
    %div Добро пожаловать в Mailkeeper
    %div
      = link_to "Войти", sign_in_url, "data-bypass" => "true"
